{% extends "chats/chat_base.html" %}
{% load staticfiles %}
{% block page-js %}
<script>
$(document).ready(function(){
    $('.fancybox').fancybox({type: 'iframe',
                             afterClose: function(){ parent.window.reload;}
                            });
});
</script>
{% endblock %}
{% block page_content %}
<div class="container-fluid jumbotron">
  <h2> {{ chat.name }} </h2>
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container navbar-inner">
      <ul class="navbar-nav nav">
        <li><a href ='{% url 'invite_to_chat' chat.id %}' id='invite-users' class='fancybox' rel='group'>Invite users to chat </a></li>
      </ul>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-lg-8">
        <div id="message_list" class="bs-component">
          <ul class="list-group chat-list">
          </ul>
        </div>
        <div class="form-group">
          <textarea name="term" id="inputbox" cols="40" rows="1" class="form-control input-lg"></textarea>
        </div>
      </div>
      <div class="col-lg-3">
        <ul class="list-group user-display">
          
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}
