{% extends "base.html" %}
{% load staticfiles %}
{% block page-js %}
<script>
$.(document).ready(function(){
    $('.fancybox').fancybox({type: 'iframe',
                             afterClose: function(){ parent.window.reload;}
                            });
});
</script>
{% endblock %}
{% block content %}
{{ block.super }}
<div>
<a href="{% url 'invite' %}" class='fancybox'> Invite people to chat</a>
<a href="{% url 'create_chat' %}" class='fancybox'> Create a new chat </a>
</div>
<h1> {{ chat.name }} </h1>
<div id="message_list">
  <ul>
  </ul>
</div>
<textarea name="term" id="inputbox" cols="40" rows="4"></textarea>
{% endblock %}
