{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div class="control-group{% if field.field.required %} required{% endif %}{% if field.errors %} error{% endif %}" id="field_{{ field.name }}">
        {% block field-label %}
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %} <i class="fa fa-cog fa-sm required"></i>{% endif %}{% if help_tip %} <span class="info" rel="tooltip" title="{{ help_t\
ip }}"><i class="fa fa-question-circle"></i></span>{% endif %}</label>
        {% endblock %}

        <div class="controls">
            {% block field-input %}
                {{ field }}
            {% endblock %}
            {% if help_text %}<span class="help-inline">{{ help_text }}</span>{% endif %}
            {% if help_block %}<span class="help-block">{{ help_block }}</span>{% endif %}

            {% block field-extras %}{% endblock %}

            {% if field.errors %}
                <p class="help-block">{{ field.errors|striptags }}</p>
            {% endif %}
        </div>
    </div>
{% endif %}
