{% extends "base.html" %}
{% block content %}
{{ block.super }}
{% block navbar-content %}
<div class="masthead container"></div>
<div class="navbar navbar-default " role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">FlazChat</a>
    </div>
    <div collapse navbar-collapse>
      <ul class="nav nav-pills navbar-left">
        <li><a href="{% url 'invite' %}" class='fancybox'> Invite to Flazchat</a></li>
        <li><a href="{% url 'create_chat' %}" class='fancybox chat-invite'> Create Flazchat </a></li>
        {% block navbar-left %}{% endblock %}
      </ul>
      <ul class="nav nav-pills navbar-right">
        {% block navbar-right %}{% endblock %}
          <li><a href="{% url 'change_password' %}" class="fancybox">Set Password</a></li>
        <li><a href="/accounts/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block page_content %}
{% endblock %}
{% endblock %}
{% block page-js %}
<script>
$(document).ready(
function(){
    $('.fancybox').fancybox({type: 'iframe',
                             onClosed: function(){parent.location.reload(true);},
                             afterClose: function(){ parent.location.reload(true);}
                            });
});
</script>
{% endblock %}
