{% extends "chats/base_chat.html" %}
{% load staticfiles %}
{% block navbar-left %}
{{ block.super }}
<li><a href ='{% url 'invite_to_chat' chat.id %}' id='invite-users' class='fancybox' rel='group'>Invite users to chat </a></li>
{% endblock %}
{% block page_content %}
{{ block.super }}
<script type="text/html" id="messageTemplate">

  <div data-id="<%= item.id %>" class="<%= item.id %> row">
    <div class="user col-md-2"><%=item.user %></div>
    <div class="message col-md-8"><%= item.msg %></div>
    <div class="like-message col-md-2 pull-right">
      <a href="#">LIKE</a>
      <span class="likes badge"><%= item.likes %></span>
    </div>
</script>
{% endblock %}

{% block page-js %}
 <script type="text/javascript" src="{% static "jquery.gracefulWebSocket.js" %}"></script>
 <script type="text/javascript" src="{% static "jquery.cookie.js" %}"></script>
 <script type="text/javascript">
    $(document).ready( function() {
    $('.fancybox').fancybox({type: 'iframe',
                             afterClose: function(){ parent.window.reload;}
                            });
    function register_msg(message_id){
       var selector = '.'+message_id+' .like-message';
       $(selector).on('click', function(event) {
         chat.send({command: 'like', ref: message_id, user: '{{ user }}'}); 
       });
    }

    function handle_likes(message){
      if (!message.data) {
        return false;
      }
      var likes = message.data.likes;
      $('.'+message.ref+' .likes').html(likes);
    }

    window.chat = {};
    chat.ws = $.gracefulWebSocket("ws://127.0.0.1:1025/ws/" + window.location.pathname.split('/')[2]);
    chat.send = function (message) {
      chat.ws.send(JSON.stringify(message));
    }

    chat.ws.onopen = function (event) {
      chat.ws.send(JSON.stringify({command: 'register_connection', user_hash: $.cookie('user_hash')}));
    };
    chat.ws.onmessage = function (event) {
      var messageFromServer = event.data;
      var list_element = document.createElement('li');
      list_element.setAttribute('class', 'list-group-item');
      var msg = $.parseJSON(messageFromServer);
      var template = $("#messageTemplate")[0].innerHTML;
      if (msg.command){
       if (msg.command == 'like'){
           handle_likes(msg);
         }
      }
      else{
        
        list_element.innerHTML = _.template(template, {item: msg});
        $("#message_list ul").append(list_element);
        register_msg(msg.id);
      }
    };

    var inputBox = document.getElementById("inputbox");

    inputbox.addEventListener("keydown", function(e) {
      if (!e) { var e = window.event; }

      if (e.keyCode == 13) { 
        e.preventDefault(); // sometimes useful
        chat.send({msg: inputbox.value, user: '{{ user }}', command: null });  
        inputbox.value="";
      }
    }, false);

    });
 </script>

{% endblock %}
