{% extends "base.html" %}

{% block content %}

{{ block.super }}

<h1> Create a FlashhChat!</h1>
<div class="well bs-component">
  <form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {% include "chats/base_field.html" %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Create Room</div>
</form>
</div>
{% endblock %}
{% block page-js %}
<script>
$(document).ready(
    function(){
        $('#id_end_time').datetimepicker();
        $('#id_start_time').datetimepicker();
    }
);
$(document).ready(function(){
    $('#id_users').tagsInput({
        height: '40px',
        autocomplete_url:'{% url "friends_autocomplete" %}'
    });
});
</script>
{% endblock %}
