{% extends "base.html" %}
{% block page-js %}
<script>
$(document).ready(
function(){
    $('.fancybox').fancybox({type: 'iframe',
                             onClosed: function(){parent.location.reload(true);},
                             afterClose: function(){ parent.location.reload(true);}
                            });
});
</script>
{% endblock %}
{% block content %}
{{ block.super }}
<div>
<a href="{% url 'invite' %}" class='fancybox'> Invite some one to join</a>
<a href="{% url 'create_chat' %}" class='fancybox chat-invite'> Create a new chat </a>
</div>
{% if chat_list %}
    <ul>
    {% for chat in chat_list %}
        <li><a href={% url 'chat_room' chat.id %}>{{ chat.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No chats are available.</p>
{% endif %}
{% endblock %}
