body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.chat-list .list-group-item{
    margin-bottom: 5px;
    border-radius: 20px;
}

.chat-list{
    max-height: 70%;
    overflow-y: auto;
}

.logo-large{
    height: 170px;
    width: 180px;
    background-image:url("images/logo180.png");
    background-repeat:no-repeat;
}

.logo-small{
    height: 60px;
    width: 60px;
    background-image:url("images/logo60.png");
    background-repeat:no-repeat;
}

.navbar-default{
    background-color: #CF1414;
}

.btn-primary{
    background-color: #CF1414;
}

.navbar-inverse{
    background-color: #CF1414;
}