{% extends "base_generic.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static "jquery.tagsinput.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "fancybox/jquery.fancybox.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "jquery-ui-timepicker-addon.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block title %}
        Some Chat App
{% endblock %}

{% block header %}
        Welcome {{ user.username }}! Chat to your heart's content :) <br/><a href="/accounts/logout">logout</a>
{% endblock %}
{% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static "underscore-min.js" %}"></script>
<script type="text/javascript" src="{% static "jquery.tagsinput.js" %}"></script>
<script type="text/javascript" src="{% static "fancybox/jquery.fancybox.js" %}"></script>
<script type="text/javascript" src="{% static "jquery-ui-timepicker-addon.js" %}"></script>
<script type="text/javascript" src="{% static "jquery-ui-sliderAccess.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
{% endblock %}
